.cursor-default-1 {
  cursor: image-set(
        url("/cursors/default-1x.png") 1x,
        url("/cursors/default-2x.png") 2x,
        url("/cursors/default-3x.png") 3x
      )
      0 0,
    auto;
}

.cursor-default-2 {
  cursor: image-set(
        url("/cursors/default-2x.png") 1x,
        url("/cursors/default-4x.png") 2x,
        url("/cursors/default-6x.png") 3x
      )
      0 0,
    auto;
}

.cursor-default-3 {
  cursor: image-set(
        url("/cursors/default-3x.png") 1x,
        url("/cursors/default-6x.png") 2x,
        url("/cursors/default-9x.png") 3x
      )
      0 0,
    auto;
}

.cursor-text-1 {
  cursor: image-set(
        url("/cursors/text-1x.png") 1x,
        url("/cursors/text-2x.png") 2x,
        url("/cursors/text-3x.png") 3x
      )
      4 8,
    auto;
}

.cursor-text-2 {
  cursor: image-set(
        url("/cursors/text-2x.png") 1x,
        url("/cursors/text-4x.png") 2x,
        url("/cursors/text-6x.png") 3x
      )
      8 16,
    auto;
}

.cursor-text-3 {
  cursor: image-set(
        url("/cursors/text-3x.png") 1x,
        url("/cursors/text-6x.png") 2x,
        url("/cursors/text-9x.png") 3x
      )
      12 24,
    auto;
}
