@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@import "./scrollbars.css";

@font-face {
  font-family: "Chicago";
  src: url("/pixChicago.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/arial.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/arial-bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Geneva";
  src: url("/fonts/FindersKeepers.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-black min-h-screen;
}

.button-inside {
  background-image: url("/btn-corner-lt.png"), url("/btn-corner-rt.png"),
    url("/btn-corner-lb.png"), url("/btn-corner-rb.png");
  background-position: left top, right top, left bottom, right bottom;
  background-repeat: no-repeat;
  padding: 5px 10px;
}

.button-outside {
  box-shadow: inset 0px 0px 0px 1px black;
}

.corner-top {
  background-image: url("/corner-lt.png"), url("/corner-rt.png");
  background-position: left top, right top; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */
}

.corner {
  background-image: url("/corner-lt.png"), url("/corner-rt.png"),
    url("/corner-lb.png"), url("/corner-rb.png"), url("/bg.png");
  background-position: left top, right top, left bottom, right bottom, left top;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
}

.bg-checkers {
  background-image: url("/checkers.png");
  background-position: left top;
  background-repeat: repeat;
  /* filter: invert(1); */
}

.disabled {
  background-image: url("/disabled.png");
  background-position: left top;
  background-repeat: repeat;
}

.inverted {
  filter: invert(1);
  /* //z-index: -1; */
}

.cursor-loading {
  cursor: url("/icons/watch.png"), auto;
}

* {
  @apply select-none;
  image-rendering: pixelated;
  cursor: url("/cursor.png"), auto !important;
}

.font-chicago {
  font-family: "Chicago";
  font-size: 8px;
  line-height: 9px;

  @apply tracking-widest;

  /* filter: contrast(1);
  font-smooth: never;
  font-smoothing: none; */
}

.font-arial {
  font-family: "Arial";
  font-size: 8px;
}

.font-geneva {
  font-family: "Geneva";
  font-size: 16px;
  line-height: 0.75;
}

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}

.content {
  @apply select-text;
}

.content a {
  @apply border-b border-black select-text;
}

.content h1,
h2,
h3,
h4,
h5 {
  @apply mb-2 font-chicago leading-4 select-text;
}

.content ul {
  @apply mb-3 list-square pl-4 leading-4 select-text;
}

.content .contains-task-list {
  @apply list-none p-0;
}

.content pre {
  @apply p-1 -mt-1 border border-dashed border-black overflow-hidden overflow-x-scroll cursor-text select-text;
}

.content code {
  font-family: "Geneva";
  font-size: 16px;
  line-height: 0.75;
  user-select: text;
}

.content img {
  @apply mx-auto mb-2;
}

.content p {
  @apply mb-2 leading-4 select-text;
}

.content hr {
  @apply my-4 border-black border-dotted;
}

.bg-stripes {
  image-rendering: pixelated;
  background-image: url("/stripes.png");
}
.handle {
  cursor: grab;
}
.react-draggable-dragging .handle {
  cursor: grabbing !important;
}

/* Input: */
@variants group-hover, hover, focus {
  .inverted {
    filter: invert(1);
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
