@tailwind base;
@tailwind components;

@font-face {
  font-family: "Chicago";
  src: url("/pixChicago.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/arial.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/arial-bold.woff");
  font-weight: bold;
  font-style: normal;
}

body {
  image-rendering: pixelated;
  background-image: url("/corner-lb.png"), url("/corner-rb.png"), url("/bg.png");
  background-position: left bottom, right bottom, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  min-height: 100vh;
}
.corner {
  background-image: url("/corner-lt.png"), url("/corner-rt.png");
  background-position: left top, right top; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */
}

* {
  @apply select-none;
  image-rendering: pixelated;
}

.font-chicago {
  font-family: "Chicago";
  font-size: 8px;

  @apply tracking-widest leading-none;

  /* filter: contrast(1);
  font-smooth: never;
  font-smoothing: none; */
}

.font-arial {
  font-family: "Arial";
  font-size: 8px;
}

::selection {
  color: white;
  background: rgba(0, 0, 0, 0.99);
}

.content a {
  @apply border-b border-black;
}

.content h1,
h2,
h3,
h4,
h5 {
  @apply mb-2 font-chicago;
}

.content ul {
  @apply mb-3 list-square pl-4 leading-4;
}
.content .contains-task-list {
  @apply list-none p-0;
}

.content pre {
  @apply p-1 -mt-1 border border-dashed border-black overflow-hidden overflow-x-scroll cursor-text;
  font-family: "Courier";
  font-size: 9px;
  user-select: text;
}
.content code {
  user-select: text;
}

.content p {
  @apply mb-3 leading-4;
}

.content hr {
  @apply my-4 border-black;
}

.bg-stripes {
  image-rendering: pixelated;
  background-image: url("/stripes.png");
}
.handle {
  cursor: grab;
}
.react-draggable-dragging .handle {
  cursor: grabbing !important;
}

@tailwind utilities;
